/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 3rem;

    /*========== Colors ==========*/
    --primary-color: #F8EDE3;
    --Title--color: #292019;
    --CTA--color: #B91122;

     /*========== Font and typography ==========*/
     --title-font: 'Abhaya Libre', sans-serif;;
     --body-font: 'Poppins', sans-serif;
}

/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
  }

body{
    font-family: var(--body-font);
    margin: 5rem 2rem 1rem 2rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.link-content:hover {
    color: #B91122;
}

/*=============== HEADER ===============*/
.header{
    padding: 0 5px;
    height: 5rem;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

/*=============== NAV ===============*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 7rem;
}

.logo a{
    font-size: 1.8rem;
    font-weight: 600;
    color: gray;
}

.nav__links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav__item{
    font-size: 0.90rem;
}

.nav__link {
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .nav__link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B91122;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.nav__icons {
    display: flex;
    gap: 0.75rem;
    font-size: 1.2rem;
}

/*=============== HOME ===============*/
.home{
    display: flex;
    justify-content: center;
    height: auto;
    gap: 10rem;
}

.text__comp{
    width: 45%;
    background-color: #FCC7C3;
    padding: 10px 20px;
    border-radius: 20px;
}
.text__comp h4{
    color: gray;
    font-weight: 300;
    font-size: 12px;
}
.home__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
    padding: 0rem 5rem 0rem;
    z-index: 2;
}
.home__text h1{
    font-family: var(--title-font);
    font-size: 100px;
    line-height: 1;
    line-height: 86px;
    letter-spacing: -0.07em;
}

.hero__btn button{
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: #B91122;
    color: #F8EDE3;
}
.home__text p{
    font-size: 20px;
    font-weight: 500;
    color: gray;
    padding: 0 5rem 0 0;
}
.hero__img img{
    width: 80%;
    position: relative;
    z-index: 2;
}

.shape__img{
    position: absolute;
    z-index: 1;
}

.shape__img img{
    position: absolute;
    left: 20rem;
}
/*=============== ABOUT ===============*/
.about{
    margin-top: 8rem;
}
.about__text{
    text-align: justify;
    padding: 3rem 15rem;
    margin: 0 5rem;
    color: grey;
}

.about__text p{
    text-align: center;
}
.about__title{
    font-family: var(--title-font);
    font-size: 65px;
    text-align: center;
    color: #292019;
}

.product_item{
    display: flex;
    align-items: center;
    margin: 0 20rem;
}
.text__product{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text__product h1{
    font-family: var(--title-font);
    font-size: 40px;
}

.text__product p{
    font-size: 15px;
    color: gray;
}

/*=============== ABOUT ===============*/
.features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.product-description{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 10rem;
    gap: 5rem;
}
.img-description{
    width: 70%;
}

.text-descrip{
    display: flex;
    flex-direction: column;
    gap: 0.90rem;
}

.text-title{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
}

.text-title h1 {
    font-family: var(--title-font);
    font-size: 40px;
    color: #292019;
    line-height: 35px;
}
.text-title h5{
    color: grey;
    font-weight: 300;
}

.img-chart{
    gap: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.img-chart img{
    width: 40%;
}
.img-chart p{
    font-size: 12px;
}

.text-descrip h3{
    font-family: var(--title-font);
    font-size: 30px;
}
.text-descrip p{
    font-family: var(--body-font);
    font-family: 14px;
    color: grey;
}

.logos__clients{
    text-align: center;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--body-font);
    font-size: 10px;
    color: gray;
    opacity: 60%;
    gap: 1rem;
}

.img__logos{
    display: flex;
    align-items: center;
    gap: 4rem;
}

/*=============== CUSTUMER ===============*/

.costumer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    padding: 3rem 15rem;
    margin-top: 4rem;
}

.text__costumer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text__costumer h4{
    font-size: 12px;
    color: mediumorchid;
}
.text__costumer h1 {
    font-family: var(--title-font);
    font-size: 55px;
    line-height: 50px;
}

.text__costumer p{
    font-size: 18px;
    color: gray;
}
/*=============== FAQs ===============*/
.questions{
    background-color: #F3F4FE;
    padding: 2rem;
    border-radius: 20px;
    margin-top: 5rem;
}

.section__title-center{
    text-align: center;
    font-family: var(--title-font);
    font-size: 40px;
    line-height: 35px;
    padding: 10px 0;
}

.questions__container{
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
  }

  .questions__group{
    display: grid;
    row-gap: 1.5rem;
  }

  .questions__item{
    background-color: white;
    border-radius: .50rem;
  }

  .questions__item-title{
    font-size: var(--small-font-size);
    font-weight: 600;
  }

  .questions__icon{
    font-size: 1.5rem;
    color: #B91122;
  }

  .questions__description{
    font-size: var(--smaller-font-size);
    padding: 0 1.25rem 1.25rem 2.5rem;
  }

  .questions__header{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: 1.75rem 2.5rem;
    cursor: pointer;
  }

  .questions__content{
    overflow: hidden;
    height: 0;
  }

    .questions__item,
    .questions__header,
    .questions__item-title,
    .questions__icon,
    .questions__description,
    .questions__content{
        transition: .3s;
    }

    .questions__item:hover{
        box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
      }

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: var(--first-color);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: black;
}

.accordion-open .questions__icon{
  transform: rotate(45deg);
}
      

/*=============== MEDIA QUERIS ===============*/
@media screen and (max-width: 768px){
    body{
        margin: 1rem;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        margin: 1rem;
        padding: 1rem;
    }
    .header{
        width: 65vh;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }
    .nav__menu{
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: var(--body-color);
      transition: .4s;
      box-shadow: 0 4px 4px rgba(0,0,0,.1);
      border-radius: 0 0 1rem 1rem;
      z-index: var(--z-fixed);
    }

    .home{
        padding: 1rem;
        margin: 1rem;
        display: inline;
    }

    .home__text{
        padding: 3rem 1rem;
    }
    .text__comp h4{
        font-size: 10px;
    }
    .home__text h1 {
        font-size: 5rem;
        line-height: 4rem;
    }
    .home__text p{
        font-size: 16px;
    }
  }