/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 3rem;

    /*========== Colors ==========*/
    --primary-color: #F8EDE3;
    --Title--color: #292019;
    --CTA--color: #B91122;

     /*========== Font and typography ==========*/
     --title-font: 'Abhaya Libre', sans-serif;;
     --body-font: 'Poppins', sans-serif;
}

/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
  }

body{
    font-family: var(--body-font);
    margin: 5rem 2rem 1rem 2rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.link-content:hover {
    color: #B91122;
}

/*=============== HEADER ===============*/
.header{
    padding: 0 5px;
    height: 5rem;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

/*=============== NAV ===============*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 7rem;
}

.logo a{
    font-size: 1.8rem;
    font-weight: 600;
    color: gray;
}

.nav__links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav__item{
    font-size: 0.90rem;
}

.menu-toggle{
    display: none;
}

.nav__link {
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .nav__link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B91122;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.nav__icons {
    display: flex;
    gap: 0.75rem;
    font-size: 1.2rem;
}


/*=============== HOME ===============*/
.home{
    display: flex;
    justify-content: center;
    height: auto;
    gap: 10rem;
}

.text__comp{
    width: 45%;
    background-color: #FCC7C3;
    padding: 10px 20px;
    border-radius: 20px;
}
.text__comp h4{
    color: gray;
    font-weight: 300;
    font-size: 12px;
}
.home__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
    padding: 0rem 5rem 0rem;
    z-index: 2;
}
.home__text h1{
    font-family: var(--title-font);
    font-size: 100px;
    line-height: 1;
    line-height: 86px;
    letter-spacing: -0.07em;
}

.hero__btn button{
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: #B91122;
    color: #F8EDE3;
}
.home__text p{
    font-size: 20px;
    font-weight: 500;
    color: gray;
    padding: 0 5rem 0 0;
}
.hero__img img{
    width: 80%;
    position: relative;
    z-index: 2;
}

.shape__img{
    position: absolute;
    z-index: 1;
}

.shape__img img{
    width: 100%;
    
}
/*=============== ABOUT ===============*/
.about{
    margin-top: 8rem;
}
.about__text{
    text-align: justify;
    padding: 3rem 15rem;
    margin: 0 5rem;
    color: grey;
}

.about__text p{
    text-align: center;
}
.about__title{
    font-family: var(--title-font);
    font-size: 65px;
    text-align: center;
    color: #292019;
}

.product_item{
    display: flex;
    align-items: center;
    margin: 0 20rem;
}
.text__product{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text__product h1{
    font-family: var(--title-font);
    font-size: 40px;
}

.text__product p{
    font-size: 15px;
    color: gray;
}

/*=============== ABOUT ===============*/
.features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.product-description{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 10rem;
    gap: 5rem;
}
.img-description{
    width: 70%;
}

.text-descrip{
    display: flex;
    flex-direction: column;
    gap: 0.90rem;
}

.text-title{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
}

.text-title h1 {
    font-family: var(--title-font);
    font-size: 40px;
    color: #292019;
    line-height: 35px;
}
.text-title h5{
    color: grey;
    font-weight: 300;
}

.img-chart{
    gap: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.img-chart img{
    width: 40%;
}
.img-chart p{
    font-size: 12px;
}

.text-descrip h3{
    font-family: var(--title-font);
    font-size: 30px;
}
.text-descrip p{
    font-family: var(--body-font);
    font-family: 14px;
    color: grey;
}

.logos__clients{
    text-align: center;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--body-font);
    font-size: 10px;
    color: gray;
    opacity: 60%;
    gap: 1rem;
}

.img__logos{
    display: flex;
    align-items: center;
    gap: 4rem;
}

/*=============== CUSTUMER ===============*/

.costumer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    padding: 3rem 15rem;
    margin-top: 4rem;
}

.text__costumer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text__costumer h4{
    font-size: 12px;
    color: mediumorchid;
}
.text__costumer h1 {
    font-family: var(--title-font);
    font-size: 55px;
    line-height: 50px;
}

.text__costumer p{
    font-size: 18px;
    color: gray;
}
/*=============== FAQs ===============*/
.questions{
    background-color: #F3F4FE;
    padding: 2rem;
    border-radius: 20px;
    margin-top: 5rem;
}

.section__title-center{
    text-align: center;
    font-family: var(--title-font);
    font-size: 40px;
    line-height: 35px;
    padding: 10px 0;
}

.questions__container{
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
  }

  .questions__group{
    display: grid;
    row-gap: 1.5rem;
  }

  .questions__item{
    background-color: white;
    border-radius: .50rem;
  }

  .questions__item-title{
    font-size: var(--small-font-size);
    font-weight: 600;
  }

  .questions__icon{
    font-size: 1.5rem;
    color: #B91122;
  }

  .questions__description{
    font-size: var(--smaller-font-size);
    padding: 0 1.25rem 1.25rem 2.5rem;
  }

  .questions__header{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: 1.75rem 2.5rem;
    cursor: pointer;
  }

  .questions__content{
    overflow: hidden;
    height: 0;
  }

    .questions__item,
    .questions__header,
    .questions__item-title,
    .questions__icon,
    .questions__description,
    .questions__content{
        transition: .3s;
    }

    .questions__item:hover{
        box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
      }

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: var(--first-color);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: black;
}

.accordion-open .questions__icon{
  transform: rotate(45deg);
}
/*======================= CTA ============================*/      
.cta__container{
    align-items: center;
    margin-top: 10rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 15rem;
    background-color: #7CCDE1;
    border-radius: 10px;
    z-index: 1;
    padding: 3rem 2rem 3rem 2rem;
    overflow: hidden;
}

.cta__container h1{
    font-family: var(--title-font);
    font-size: 40px;
    color: #00566B;
}

.cta__container p{
    color: #F3F4FE;
    font-size: 12px;
    font-weight: 400;
}

.cta__img img{
    position: absolute;
    width: 6%;
    bottom: 0;
    z-index: 4;
}

.cta__btm button {
    padding: 0.80rem 2rem;
    border-radius: 8px;
    background-color: #F8EDE3;
    color: #00566B;
}

.shape_1{
    position: absolute;
    border-radius: 40px;
    width: 5rem;
    height: 5rem;
    background-color: aquamarine;
    overflow: hidden;
    top: -40px;
    left: 10px;
}
.shape_2{
    position: absolute;
    border-radius: 40px;
    width: 5rem;
    height: 5rem;
    background-color: #FCC7C3;
    overflow: hidden;
    top: -60px;
    right: 5px;
}

.shape_3{
    position: absolute;
    border-radius: 40px;
    width: 5rem;
    height: 5rem;
    background-color: #c89df0;
    overflow: hidden;
    top: 88px;
    right: -35px;
}
/*===============FOOTER===============*/
.footer{
    margin-top: 10rem;
}

.footer__container{
    display: flex;
    justify-content: space-between;
}

.footer__content{
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}

.footer__content h3{
    font-family: var(--title-font);
    font-size: 20px;
}
.footer__content a{
    color: gray;
    font-family: var(--body-font);
    font-weight: 300;
}

/*=============== MEDIA QUERIS ===============*/
@media screen and (max-width: 767px){
    .body{
        margin-left: 10px;
        margin-right: 10px;
    }
    .header{
        padding: 0 2rem 0 2rem;

    }
    .nav{
        height: 50px;
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 0rem;
        margin-right: 1rem;
    }

    .nav__menu{
        position: fixed;
        background-color: #F3F4FE;
        top: 0;
        width: 80%;
        height: 100%;
        left: -100%;
        transition: .3s;
    }
    /* Show menu */
    .show-menu{
        left: 0;
  }

    .nav__links{
        display: flex;
        flex-direction: column;
        padding: 5rem 3rem;
    }

    .nav__link{
        font-size: 20px;
        font-weight: 500;
    }

    .menu-toggle{
        cursor: pointer;
        font-size: 20px;
        display: inline-flex;
    }

    .nav__close{
        position: absolute;
        font-size: 30px;
        top: 2rem;
        left: 3rem;
    }

    .home{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .home__text{
        padding: 0 8rem 0 0;
        max-width: 985px;
    }
    .text__comp h4{
        font-size: 8px;
    }
    .home__text h1{
        font-size: 70px;
        line-height: 60px;
    }
    .home__text p{
        font-size: 15px;
    }

    .about{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .about__text{
        margin: 0;
        padding: 0;
    }

    .about__title{
        line-height: 42px;
    }

    .product_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        order: 1;
    }

    .product_img{
        width: 100%;
        order: 1;
    }
    .product_img img{
        width: 50%;
    }
    .text__product{
        order: 2;
    }

    .product-description{
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
    }

    .img-description img{
        width: 100%;
    }

    .img__logos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .costumer{
        display: flex;
        flex-direction: column;
        padding: 0
    }

    .img__costumer img {
        width: 80%;
    }

    .questions__container{
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    .footer__container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

}

